/* Мастер начало */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-psd {
    width: 1366px;
    margin: 0 auto;
}

/*--------------------- Мастер конец ---------------------*/
/*--------------------- Шапка начало ---------------------*/
.header {
    height: 800px;
    background-image: url(../img/slider-img.jpg);
}

.logo {
    margin-top: 63px;
    margin-left: 98px;
}

/*Шапка контакты*/
.heder-contacts {
    background-color: #f5f5f5;
    width: 1366px;
    height: 360px;
}

.heder-contacts h1 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    margin-top: 170px;
    margin-left: 100px;
}

/* Меню начало */
.menu {
    list-style-type: none;
    float: right;
    margin-top: 50px;
    margin-right: 140px;
}

.menu li {
    display: inline-block;
    float: left;
}

.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    display: block;
    padding: 0 17px;
}

.menu li a:hover {
    color: #212121;
    border-bottom: 2px;
    border-bottom-color: #212121;
    border-bottom-style: solid;
}

/* Меню конец */
/* Текст в шапке начало */
.text-header {
    margin-left: 98px;
    margin-top: 270px;
    width: 490px;
}

.text-header h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.text-header h1 {
    color: #212121;
    font-size: 58px;
    font-weight: 100;
    line-height: 72px;
}

.text-header p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.text-header a {
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2.5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;

}

.text-header a:hover {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 173px 16px;
}

.text-header a:active {
    box-shadow: none;
}

/* Текст в шапке конец */
/* Точки начало */
.dots {
    display: inline-block;
    justify-content: center;
    height: 40px;
    margin-top: 141px;
    text-decoration: none;
    margin-left: 620px;
}

.dots a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c7c7c7;
    margin: 10px;
    text-decoration: none;
}

.dots a:hover {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin: 5px;
    transition: 0.2s linear;
}

/* Точки конец */
/*--------------------- Шапка конец ---------------------*/

/*--------------------- Контент начало ---------------------*/
/*--------------------- index начало ---------------------*/
.line {
    clear: both;
}

/*Line 1*/

.line1-menu {
    list-style-type: none;
    margin-left: 107px;
    margin-top: 120px;
}

.line1-menu li {
    display: inline-block;
    float: left;
}

.line1-menu li > a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    display: block;
    padding: 0 10px;
    padding-bottom: 15PX;
    border-bottom: 2px;
    border-bottom-color: #6c6c6c;
    border-bottom-style: solid;
}

.line1-menu li > a:hover {
    color: #212121;
    border-bottom: 2px;
    border-bottom-color: #212121;
    border-bottom-style: solid;
}


.explore-all {
    text-decoration: none;
    letter-spacing: 2.5px;
    display: block;
    width: 240px;
    float: right;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

    margin-top: 16px;
    margin-right: 100px;

}

.explore-all:hover {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 210px 5px;
}

.line1-goods {
    clear: both;
    padding-top: 50px;
    margin-left: 95px;
    display: inline-block;

}

.line1-goods a {
    display: block;
    float: left;
    width: 270px;
    height: 270px;
    margin: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    position: relative;
}

.line1-goods a:hover {
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
}

.line1-goods a:hover .line1-content {
    display: block;
    opacity: 0.9;
    background-color: #ffffff;
}

.line1-content {
    position: absolute;
    height: 270px;
    width: 270px;
    top: 0;
    left: 0;
    display: none;
}

.line1-content i {
    margin-top: 62px;
    margin-left: 111px;
    display: block;
    background-image: url(../img/arrow2.png);
    background-repeat: no-repeat;
    background-position: 20px 15px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
}

.line1-content h4 {
    padding-top: 10px;
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    transform: scaleX(1.0041);
}

.line1-content p {
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    transform: scaleX(1.0041);
    margin-left: 30px;
    margin-right: 30px;
}

/*Line 2*/

.line2 {
    margin-top: 105px;
    height: 683px;
}

.line2 h3 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 228px;
    margin-left: 51px;
}

.line2 h1 {
    margin-top: 18px;
    margin-left: 51px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.line2 p {
    margin-top: 24px;
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022);
    width: 374px;
    margin-top: 24px;
    margin-left: 51px;
}

.line2 a {
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2.5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    margin-top: 34px;
    margin-left: 51px;
}

.line2 a:hover {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 173px 16px;
}

.line2 a:active {
    box-shadow: none;
}

.line21 {
    float: left;
    width: 683px;
    height: 683px;
    background-image: url(../img/promo-img1.jpg);
}

.line22 {
    float: left;
    width: 683px;
    height: 683px;
    background-image: url(../img/promo-img2.jpg);
}

/*Line 3*/

.line3-menu {
    margin-top: 120px;
    margin-left: 107px;
    height: 40px;
}

.line3-menu p {
    display: block;
    float: left;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

.line3-content {
    clear: both;
    margin-left: 85px;
    margin-top: 63px;
    height: 800px;
}

.line3-content img {
    margin: 15px;
}

/*Line 4*/

.line4 {
    clear: both;
    background-image: url(../img/slider-line-4.jpg);
    height: 800px;
    margin-top: 100px;
}

.line4 h3 {
    padding-top: 280px;
    margin-left: 100px;
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.line4 h1 {
    margin-left: 100px;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
}

.line4 p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    width: 458px;
    margin-left: 100px;
}

.line4 a {
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2.5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    margin-top: 30px;
    margin-left: 100px;
}

.line4 a:hover {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 173px 16px;
}

.line4 a:active {
    box-shadow: none;
}

.dots4 {
    display: inline-block;
    justify-content: center;
    height: 40px;
    margin-top: 190px;
    text-decoration: none;
    margin-left: 620px;
}

.dots4 a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c7c7c7;
    margin: 10px;
    text-decoration: none;
}

.dots4 a:hover {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin: 5px;
    transition: 0.2s linear;
}

/*Line 5*/
.line5 {
    margin-top: 120px;
    height: 570px;
    margin-left: 100px;
}

.line51 {
    float: left;
    width: 570px;
    height: 570px;
    background-image: url(../img/product-1-lg.jpg);
}

.line51 h3 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 130px;
    margin-left: 31px;
}

.line51 h1 {
    margin-top: 18px;
    margin-left: 31px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.line51 p {
    margin-top: 24px;
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022);
    width: 374px;
    margin-top: 24px;
    margin-left: 31px;
}

.line51 a {
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2.5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    margin-top: 34px;
    margin-left: 31px;
}

.line51 a:hover {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 173px 16px;
}

.line51 a:active {
    box-shadow: none;
}

.line52 {
    float: left;
    width: 600px;

}

.line52 img {
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

/*Line 6*/
.line6 {
    height: 516px;
    margin-top: 120px;
    background-image: url(../img/back-img.jpg);
}

.line6 h3 {
    padding-top: 125px;
    margin-left: 100px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.line6 h1 {
    margin-left: 100px;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
}

.line6 p {
    margin-left: 100px;
    margin-top: 22px;
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.line6-img1 {
    margin-top: 20px;
    margin-left: 90px;
}

.line6-img2 {
    margin-top: 20px;
    margin-left: 10px;
}

/*--------------------- Index конец ---------------------*/
/*--------------------- Contacts начало ---------------------*/

.contacts {
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 70px;
}

.contacts .col-md-4 {
    margin: 15px;
    width: 28%;
    height: 370px;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
}

.contacts img {
    margin-top: 48px;
}

.contacts h3 {
    font-family: Montserrat;
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    transform: scaleX(1.0041);
    margin: 0;
    margin-top: 30px;
}

.contacts h4 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.contacts p {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;
    margin: 0;
}

.contacts h5 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 20.082px;
    text-align: center;
    transform: scaleX(1.0041);
    margin: 0;
}

/*--------------------- Contacts конец ---------------------*/
/*--------------------- Products начало ---------------------*/
.product-line1 {
    margin-left: 107px;
    margin-top: 70px;
    max-width: 1200px;

}

.line1-menu-product {
    margin-left: 15px;
    list-style-type: none;
    height: 35px;
}

.line1-menu-product li {
    display: inline-block;
    float: left;
}

.line1-menu-product li > a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    display: block;
    padding: 0 10px;
    padding-bottom: 10PX;
    border-bottom: 2px;
    border-bottom-color: #6c6c6c;
    border-bottom-style: solid;
    text-align: left;
    padding-right: 30px;
    padding-left: 3px;
}

.line1-menu-product li > a:hover {
    color: #212121;
    border-bottom: 2px;
    border-bottom-color: #212121;
    border-bottom-style: solid;
}

.line1-menu-product-no-border li > a {
    border: none;
}

.line1-menu-product-no-border li > a:hover {
    border: none;
}

.product-greed {
    padding-top: 50px;
    clear: both;
    float: left;
    margin: 15px;
}

.midle-arrow {
    clear: both;
    display: block;
    text-align: center;
    padding-top: 50px;
}

/*--------------------- Products конец ---------------------*/
/*--------------------- Подвал начало ---------------------*/

.virtual-footer {
    height: 384px;
}

footer {
    clear: both;
    height: 384px;
    background-color: #f7f7f7;
    width: 1366px;
    margin: 0 auto;
    margin-top: -384px;
}

.footer-line1-5 {
    float: left;
    margin-top: 80px;
    margin-left: 99px;
    width: 330px;
}

.footer-line1-6 {
    display: inline-block;
    width: 155px;
}

footer h4 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 24px;
}

footer p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

footer a {
    color: #212121;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    ;
}

.email-form {
    border-width: 1px;
    border-color: #d9dee1;
    border-style: solid;
    background-color: #ffffff;
    width: 368px;
    height: 46px;

}

input[type="email"] {
    border: none;
    outline: none;
    width: 310px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    vertical-align: middle;
    padding-left: 19px;
    height: 46px;
}

.email-form input[type="submit"] {
    border: none;
    background: url(../img/send-message.png) no-repeat 50% 50%;
    width: 21px;
    height: 17px;
    vertical-align: middle;
    height: 46px;
}

.footer-line2 {
    clear: both;
    margin-left: 100px;
}

.footer-line21 {
    float: left;
    width: 400px;
    display: inline-block;
    margin-top: 70px;
}

.footer-line22 {
    display: inline-block;
    float: inherit;
    margin-top: 70px;
    margin-left: 156px;
}

.footer-line23 {
    float: right;
    width: 400px;
    margin-top: 70px;
}

/* Подвал конец */
