@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Din Text Cond Pro';
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {padding:0; margin:0;}

html, body {font-family:'Arial'; font-size:14px; color:#161241; width:100%;}

a {color:#161241; }

p {margin-bottom:15px;}

ul {list-style-type:square; margin-left:20px; margin-bottom:15px;}

ul li {margin-bottom:10px;}

h1,h2 {font-family: 'Din Text Cond Pro'; font-weight:normal; text-transform:uppercase; font-size:30px; }

form {padding: 30px 0; overflow:hidden;}

form p {margin-bottom:30px; overflow:hidden;}

fieldset {float:left; width:450px; border:none;}

label {width:215px;font-family: 'Din Text Cond Pro'; font-size:20px; text-transform:uppercase; color:#fff; padding:7px 0; display:block; float:left; } 
input,select {width:215px; height:40px; border:none; font-family: 'Din Text Cond Pro'; font-size:20px; text-transform:uppercase;}
select {width:232px; cursor:pointer; color:#909090; padding:0 10px; float:right; -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; text-overflow: ''; -ms-appearance: none; appearance: none!important; background-image:url(../images/select-trigger.png); background-position:100% 0%; background-repeat:no-repeat;}
  
select::-ms-expand {display: none;}

input[type="text"],
input[type="tel"],
input[type="email"] {background-color:#fff; padding-left:15px; color:#909090; border:1px solid transparent;}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {border:1px solid #d72027;}

fieldset input {float:right;}

input[type="submit"] {cursor:pointer; background-color:#d72027; color:#fff; margin-top:30px; }
input[type="submit"]:hover {background-color:#909090;}

.wrapper {position:relative; width:1100px; margin-left:auto; margin-right:auto;}
.clear {clear:both; height:0;}


/*	Header	*/

#header {width:100%; height:650px; background-image:url(../images/header-bg.png); background-repeat:repeat-x; background-position:50% 0px; background-size:cover; position:relative; color:#fff;}

.overlay {position:absolute; top:0; left:0; height:100%; width:100%; background:#161241; opacity:0.7;}



#top-menu {font-size:20px; font-weight:bold; right:50px; position:absolute; top:50px; width:400px; text-align:right; text-transform:uppercase;} 
#top-menu .top-menu-button {float:left; margin-left:40px;}
#top-menu .button {height:60px; width:60px; background-color:#d72027; cursor:pointer;}
.phone {background-image:url(../images/phone.png);}
.mail {background-image:url(../images/mail.png);}
.button-trigger {width: 0; height: 0; border-right: 10px solid transparent; border-top: 20px solid #d72027; border-left: 10px solid transparent; position:relative; z-index:0; margin-left:20px;}


#main-image {float:left; position:relative; top:-120px; margin-left:-100px;}

#main-description {float:left;}

#heading {position:absolute; top:150px; width:100%;}
.title {font-size:90px; font-family: 'Din Text Cond Pro'; text-transform:uppercase; font-weight:normal; margin-top:15px; line-height:1;}
.type {font-size:40px; font-family: 'Din Text Cond Pro'; text-transform:uppercase; margin-top:10px; margin-bottom:50px; line-height:1;}
.list {font-size:26px; letter-spacing:1px;}
.list li {margin-bottom:20px; list-style-image:url(../images/check.png); padding-left:15px; margin-left:20px;}

#special {position:absolute; right:0px; top:160px;}
.triangle-left {width: 0; height: 0; border-top: 50px solid transparent; border-right: 100px solid #d72027; border-bottom: 50px solid transparent; -webkit-transform: rotate(45deg); position:relative; z-index:0;}
.circle {height:270px; width:270px; background:#d72027; border-radius:50%; text-align:center; margin-top:-90px; position:relative; z-index:2; }
.circle .price {font-size:80px; font-family: 'Din Text Cond Pro'; letter-spacing:-5px; padding-top: 75px; line-height:1;}
.circle .name {font-size:30px; font-family: 'Din Text Cond Pro'; text-transform:uppercase;}


/*	Content	*/

.content-description {float:left; width:700px;}

.content-list{float:left; width:300px; margin-left:30px;}

.content-list-item {overflow:hidden; margin-bottom:10px}
.content-list-item-icon {float:left; max-width:50px; margin-right:20px;}
.content-list-item-icon img {height:50px;}
.content-list-item-text {font-size:16px; float:left; font-family: 'Din Text Cond Pro'; text-transform:uppercase; padding-top:15px;}

#content-features {width:100%; margin-bottom:100px; overflow:hidden;}
.feature-item {width:170px; height:170px; float:left; text-align:center;}
.feature-item img {width:100px;}
.feature-title {font-family: 'Din Text Cond Pro'; font-size:18px; text-transform:uppercase; }

.file {margin-bottom:30px; overflow:hidden;}
.file a {text-decoration:none; }
.file a:hover {color:#d72027;}
.file-image {float:left; margin-right:10px;}
.file-name {font-family:'Arial'; font-size:17px; font-weight:bold; text-transform:uppercase; margin-bottom:5px; margin-top:15px;}

table.char {width:100%;}
table.char th.table-header { background-color:#d72027; color:#fff; padding:10px 15px !important; font-weight:bold;}
table.char td {padding:7px 15px; margin:0;}
table.char tr:nth-child(2n) td {background-color:#eee;}
table.char td p {margin-bottom:0}

/*Table*/

table#modif_table td{padding-bottom:15px; padding-top:15px;	padding-right:35px;	border-bottom: 1px dotted #161241;}
table#modif_table td.tname {width: 250px; font-size:16px;}
table#modif_table td.tchar {font-size:11px;}
table#modif_table td.tprice {font-family: 'Din Text Cond Pro'; font-size:36px; color:#d72027; width:150px;}


/*	Footer	*/

#footer {position:relative; width:100%; height:420px; background: rgba(22,18,65,0.7); padding-top:50px;}

#footer form{position:absolute; top:0; width:100%; }

#copyright {position:absolute; top:350px; left:0; color:#fff; font-size:12px;}
#footer-phones {position:absolute; top:350px; right:0; color:#fff; font-size:12px;}

#copyright p, #footer-phones p {margin-bottom:5px;}


/*	Tab Slider	*/

#tab-slider {width:1100px; height:100%; margin: 0 auto 50px auto;  position:relative; overflow:hidden;}

.tab-content {padding-left:30px; padding-right:30px; padding-top:20px; padding-bottom:20px; height:100%; width:1040px; overflow:hidden; float: left;}

ul.tab-nav {padding:0; margin:0; list-style-type: none; width:100%;}
ul.tab-nav li {border:none;	outline:none; display:inline-block; margin-left:-4px; margin-right:0; padding-top:40px;	padding-bottom:60px; padding-left:13px;	padding-right:13px;	background-image:url(../images/tab-active-bg.png); background-repeat:repeat-x; background-position:-400px 100%;}
ul.tab-nav li.active {background-position:50px 100%;}
ul.tab-nav li a {color:#161241; padding:0 65px;	font-size:24px;	font-family: 'Din Text Cond Pro'; text-decoration:none;	text-transform:uppercase;}
ul.tab-nav li.active a, ul.tab-nav li a:hover  {color: #d72027;}


